server:
  port: 8090

spring:
  application:
    name: auth-service

eureka:
  client:
    serviceUrl:
      defaultZone: http://service-registry:8761/eureka/

firebase:
  credentials:
    path: ${GOOGLE_APPLICATION_CREDENTIALS:../secrets/firebase-user.json}

jwt:
  secret: ${JWT_SECRET:defaultFallbackSecretKey1234567890}