server:
  port: ${SERVER_PORT:8080}

spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  mail:
    host: ${PROD_EMAIL_HOST}
    port: 587
    username: ${PROD_EMAIL_USERNAME}
    password: ${PROD_EMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
app:
  mail:
    from: ${MAIL_USERNAME}
logging:
  level:
    root: INFO
    com.google.cloud: WARN
    com.google.firebase: WARN
    io.grpc: WARN
    org.springframework.web: INFO
    org.springframework.security: INFO
