# ---- Java / Spring Boot ----
/target/
*.class
*.log
*.jar
*.war
*.ear

# ---- IntelliJ IDEA / Eclipse / VSCode ----
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/

# ---- OS generated ----
.DS_Store
Thumbs.db

# ---- Docker / Containers----
/secrets/*
!secrets/.gitkeep
docker-compose.override.yml
**/*.tar
**/*.pid

# ---- Environment files ----
.env
.env.*
*.env
!*.env.example

secrets/
**/secrets/

# ---- Firebase keys ----
firebase-*.json
serviceAccountKey.json

# ---- Logs ----
*.out
*.err
logs/

# ---- JWT / SSL / Crypto ----
*.pem
*.crt
*.key
*.p12
*.jks
*.keystore

nginx/ssl/
certbot/
**/.well-known/