networks:
  backend:
    driver: bridge

volumes:
  redis_data:
  rabbitmq_data:

services:

  service-registry:
    image: rekki27204/service-registry:latest
    container_name: service-registry
    networks: [backend]
    restart: always
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8761/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

  api-gateway:
    image: rekki27204/api-gateway:latest
    container_name: api-gateway
    networks: [backend]
    restart: always
    depends_on:
      service-registry:
        condition: service_healthy
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://service-registry:8761/eureka/
      JWT_SECRET: ${JWT_SECRET}

  nginx:
    image: nginx:1.25
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/nginx.prod.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/ssl/prod:/etc/nginx/ssl
      - certbot-web:/var/www/certbot
    depends_on:
      - api-gateway
    networks: [backend]

  redis:
    image: redis:7.2
    container_name: redis
    restart: always
    command: >
      redis-server
      --appendonly yes
      --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis_data:/data
    networks: [backend]

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks: [backend]

  auth-service:
    image: rekki27204/auth-service:latest
    container_name: auth-service
    restart: always
    networks: [backend]
    environment:
      JWT_SECRET: ${JWT_SECRET}
      GOOGLE_APPLICATION_CREDENTIALS: /secrets/firebase-user.json
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://service-registry:8761/eureka/
    volumes:
      - ./secrets/firebase-user.json:/secrets/firebase-user.json
    depends_on:
      service-registry:
        condition: service_healthy
      redis:
        condition: service_started

  blog-service:
    image: rekki27204/blog-service:latest
    container_name: blog-service
    restart: always
    networks: [backend]
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: /secrets/firebase-blog.json
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://service-registry:8761/eureka/
    volumes:
      - ./secrets/firebase-blog.json:/secrets/firebase-blog.json
    depends_on:
      service-registry:
        condition: service_healthy
      rabbitmq:
        condition: service_started

  cart-service:
    image: rekki27204/cart-service:latest
    restart: always
    networks: [backend]
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: /secrets/firebase-cart.json
    volumes:
      - ./secrets/firebase-cart.json:/secrets/firebase-cart.json
    depends_on:
      service-registry:
        condition: service_healthy

  order-service:
    image: rekki27204/order-service:latest
    restart: always
    networks: [backend]
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: /secrets/firebase-order.json
    volumes:
      - ./secrets/firebase-order.json:/secrets/firebase-order.json
    depends_on:
      service-registry:
        condition: service_healthy

  product-service:
    image: rekki27204/product-service:latest
    container_name: product-service
    restart: always
    networks: [backend]
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: /secrets/firebase-product.json
      ALGOLIA_APP_ID: ${ALGOLIA_APP_ID}
      ALGOLIA_API_KEY: ${ALGOLIA_API_KEY}
      ALGOLIA_API_WRITE_KEY: ${ALGOLIA_API_WRITE_KEY}
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://service-registry:8761/eureka/
    volumes:
      - ./secrets/firebase-product.json:/secrets/firebase-product.json
    depends_on:
      service-registry:
        condition: service_healthy


  user-service:
    image: rekki27204/user-service:latest
    restart: always
    networks: [backend]
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: /secrets/firebase-user.json
    volumes:
      - ./secrets/firebase-user.json:/secrets/firebase-user.json
    depends_on:
      service-registry:
        condition: service_healthy

  payment-service:
    image: rekki27204/payment-service:latest
    container_name: payment-service
    restart: always
    networks: [backend]
    environment:
      VNP_URL: ${VNP_URL}
      VNP_TMN_CODE: ${VNP_TMN_CODE}
      VNP_SECRET_KEY: ${VNP_SECRET_KEY}
      VNP_RETURN_URL: ${VNP_RETURN_URL}
      VNP_VERSION: ${VNP_VERSION}
      VNP_COMMAND: ${VNP_COMMAND}
      VNP_ORDER_TYPE: ${VNP_ORDER_TYPE}
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://service-registry:8761/eureka/
      SPRING_APPLICATION_NAME: payment-service
      SERVER_PORT: 8089
    depends_on:
      service-registry:
        condition: service_healthy

  file-service:
    image: rekki27204/file-service:latest
    restart: always
    networks: [backend]
    environment:
      SUPABASE_SECRETS_PATH: /secrets/supabase.json
    volumes:
      - ./secrets/supabase-secrets.json:/secrets/supabase.json
    depends_on:
      service-registry:
        condition: service_healthy

  notification-service:
    image: rekki27204/notification-service:latest
    container_name: notification-service
    restart: always
    networks: [backend]
    environment:
      MAIL_USERNAME: ${MAIL_USERNAME}
      MAIL_APP_PASSWORD: ${MAIL_APP_PASSWORD}
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://service-registry:8761/eureka/
    depends_on:
      service-registry:
        condition: service_healthy
      rabbitmq:
        condition: service_started


