server:
  port: 8080

spring:
  application:
    name: api-gateway
  main:
    web-application-type: reactive

  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
                    # Auth Service
                    - id: auth-service
                      uri: lb://auth-service
                      predicates:
                        - Path=/auth/**

                    # Blog Service
                    - id: blog-service
                      uri: lb://blog-service
                      predicates:
                        - Path=/blog/**
                      filters:
                        - RemoveRequestHeader=Cookie

                    # Banner Service
                    - id: blog-service
                      uri: lb://blog-service
                      predicates:
                        - Path=/banner/**
                      filters:
                        - RemoveRequestHeader=Cookie

                    # Cart Service
                    - id: cart-service
                      uri: lb://cart-service
                      predicates:
                        - Path=/cart/**,/discount/**
                      filters:
                        - RemoveRequestHeader=Cookie

                    # Order Service
                    - id: order-service
                      uri: lb://order-service
                      predicates:
                        - Path=/order/**
                      filters:
                        - RemoveRequestHeader=Cookie

                    # Product Service
                    - id: product-service
                      uri: lb://product-service
                      predicates:
                        - Path=/product/**,/category/**,/brand/**
                      filters:
                        - RemoveRequestHeader=Cookie

                    # User Service
                    - id: user-service
                      uri: lb://user-service
                      predicates:
                        - Path=/user/**
                      filters:
                        - RemoveRequestHeader=Cookie

                    # Inventory Service
                    - id: inventory-service
                      uri: lb://inventory-service
                      predicates:
                        - Path=/inventory/**
                      filters:
                        - RemoveRequestHeader=Cookie

                    # File Service
                    - id: file-service
                      uri: lb://file-service
                      predicates:
                        - Path=/file/**
                      filters:
                        - RemoveRequestHeader=Cookie

                    # Payment Service
                    - id: payment-service
                      uri: lb://payment-service
                      predicates:
                        - Path=/payment/**
                      filters:
                        - RemoveRequestHeader=Cookie

                    # Notification Service
                    - id: notification-service
                      uri: lb://notification-service
                      predicates:
                        - Path=/notification/**
                      filters:
                        - RemoveRequestHeader=Cookie
          globalcors:
            cors-configurations:
              '[/**]':
                allowed-origins:
                  - http://localhost:8086
                  - https://fe-hmk-eyewear.vercel.app
                allowed-methods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - PATCH
                  - OPTIONS
                allowed-headers:
                  - "*"
                allow-credentials: true
          httpclient:
            connect-timeout: 5000
            response-timeout: 10s
          default-filters:
            - name: DedupeResponseHeader
              args:
                strategy: RETAIN_UNIQUE
                name: Access-Control-Allow-Credentials
#            - name: RemoveRequestHeader
#              args:
#                name: Cookie

jwt:
  secret: ${JWT_SECRET}

auth:
  service:
    url: http://localhost:8090

eureka:
  client:
    serviceUrl:
      defaultZone: http://service-registry:8761/eureka/

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web: INFO
