server:
  port: ${SERVER_PORT:8080}

spring:
  profiles:
    active: prod

  main:
    lazy-initialization: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

logging:
  level:
    root: INFO
    com.google.cloud: WARN
    com.google.firebase: WARN
    io.grpc: WARN
    org.springframework.web: INFO
    org.springframework.security: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: never
