server:
  port: 8080

spring:
  application:
    name: api-gateway
  main:
    web-application-type: reactive

  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              lower-case-service-id: true
              enabled: true


          routes:
            # Auth Service
                    - id: auth-service
                      uri: lb://auth-service
                      predicates:
                        - Path=/auth/**
                    # Blog Service
                    - id: blog-service
                      uri: lb://blog-service
                      predicates:
                        - Path=/blogs/**
                    # Cart Service
                    - id: cart-service
                      uri: lb://cart-service
                      predicates:
                        - Path=/cart/**
                      filters:
                        - JwtAuthenticationFilter
                    # Order Service
                    - id: order-service
                      uri: lb://order-service
                      predicates:
                        - Path=/orders/**
                      filters:
                        - JwtAuthenticationFilter
                    # Product Service
                    - id: product-service
                      uri: lb://product-service
                      predicates:
                        - Path=/products/**
                      filters:
                        - JwtAuthenticationFilter
                    # User Service
                    - id: user-service
                      uri: lb://user-service
                      predicates:
                        - Path=/users/**
                      filters:
                        - JwtAuthenticationFilter
          httpclient:
            connect-timeout: 5000
            response-timeout: 10s
          default-filters:
            - name: DedupeResponseHeader
              args:
                strategy : RETAIN_UNIQUE
                name: Access-Control-Allow-Credentials
            - name: RemoveRequestHeader
              args:
                name: Cookie
          globalcors:
            cors-configurations:
              '[/**]':
                allowed-methods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - PATH
                  - OPTIONS
                allowed-headers:
                  - "*"
                allow-credentials: true

jwt:
  secret: ${JWT_SECRET:defaultFallbackSecretKey1234567890}

auth:
  service:
    url: http://localhost:8090

eureka:
  client:
    serviceUrl:
      defaultZone: http://service-registry:8761/eureka/



logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web: INFO
