server:
  port: 8080
  forward-headers-strategy: framework

spring:
  application:
    name: api-gateway
  main:
    web-application-type: reactive

  cloud:
    gateway:
      server:
        webflux:
          routes:
                    # Auth Service
                    - id: auth-service
                      uri: http://auth-service:8090
                      predicates:
                        - Path=/auth/**

                    # Blog Service
                    - id: blog-service
                      uri: http://blog-service:8084
                      predicates:
                        - Path=/blog/**,/banner/**
                      filters:
                        - RemoveRequestHeader=Cookie

                    # Cart Service
                    - id: cart-service
                      uri: http://cart-service:8083
                      predicates:
                        - Path=/cart/**,/discount/**
                      filters:
                        - RemoveRequestHeader=Cookie

                    # Order Service
                    - id: order-service
                      uri: http://order-service:8082
                      predicates:
                        - Path=/order/**
                      filters:
                        - RemoveRequestHeader=Cookie

                    # Product Service
                    - id: product-service
                      uri: http://product-service:8081
                      predicates:
                        - Path=/product/**,/category/**,/brand/**
                      filters:
                        - RemoveRequestHeader=Cookie

                    # User Service
                    - id: user-service
                      uri: http://user-service:8085
                      predicates:
                        - Path=/user/**
                      filters:
                        - RemoveRequestHeader=Cookie

                    # File Service
                    - id: file-service
                      uri: http://file-service:8091
                      predicates:
                        - Path=/file/**
                      filters:
                        - RemoveRequestHeader=Cookie

                    # Payment Service
                    - id: payment-service
                      uri: http://payment-service:8089
                      predicates:
                        - Path=/payment/**
                      filters:
                        - RemoveRequestHeader=Cookie

                    # Notification Service
                    - id: notification-service
                      uri: http://notification-service:8092
                      predicates:
                        - Path=/notification/**
                      filters:
                        - RemoveRequestHeader=Cookie
          globalcors:
            cors-configurations:
              '[/**]':
                allowed-origins:
                  - http://localhost:8086
                  - https://fe-hmk-eyewear.vercel.app
                allowed-methods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - PATCH
                  - OPTIONS
                allowed-headers:
                  - "*"
                allow-credentials: true
          httpclient:
            connect-timeout: 5000
            response-timeout: 10s
          default-filters:
            - name: DedupeResponseHeader
              args:
                strategy: RETAIN_UNIQUE
                name: Access-Control-Allow-Credentials
#            - name: RemoveRequestHeader
#              args:
#                name: Cookie

jwt:
  secret: ${JWT_SECRET:defaultFallbackSecretKey1234567890}

auth:
  service:
    url: http://localhost:8090


logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web: INFO
