server:
  port: 8090

spring:
  application:
    name: file-service
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    serviceUrl:
      defaultZone: http://service-registry:8761/eureka/

# path mặc định cho secrets; nếu muốn khác set env SUPABASE_SECRETS_PATH
app:
  rabbitmq:
    exchange: main_exchange
    file:
      queue: file_queue
      routing-key: file_routing_key
